<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width-device,initial-scale=1.0"/>
        <title>Weather App</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <div class="container">
            <h1>Weather App</h1>
            <form action="/" method="POSt">
                <input type="text" name="city" placeholder="Enter city" required/>
                <button type="submit" >Get Weather</button>
            </form>
            <% if(weather){ %>
                <div class="weather-result">
                    <h2>Weather in <%= weather.city %></h2>
                    <p>Temperature: <%= weather.temperature %> °C</p>
                    <p>Description: <%= weather.description %></p>
                </div>
                <% } %>
               <% if (error) { %> 
                    <p class="error"><%= error %></p> 
                <% } %> 
        </div>
    </body>
</html>