* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f8fa;
  color: #222;
  height: 100vh;
}
.navbar {
  grid-area: nav;
  background: #008cff;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 10px;
}
.navbar h1 {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar h1:hover {
  color: #ffeb3b;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "footer footer footer footer";
  gap: 15px;
  padding: 15px;
}


main {
  grid-area: main;
  background: #c6f4f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

main h2 {
  color: #004d66;
  margin-bottom: 10px;
}

main button {
  background: #008cff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

main button:hover {
  background: #006bcc;
}

#sidebar {
  grid-area: sidebar;
  background: #b2ebf2;
  border-radius: 10px;
  padding: 20px;
}

#sidebar h2 {
  margin-bottom: 10px;
  color: #004d66;
}

#sidebar ul {
  list-style: none;
}

#sidebar li {
  margin: 10px 0;
}

#sidebar a {
  text-decoration: none;
  color: #003366;
  font-weight: 500;
}

#sidebar a:hover {
  color: #005fa3;
}

#content1, #content2, #content3 {
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

#content1 {
  grid-area: content1;
  background: #cdeaff;
}

#content2 {
  grid-area: content2;
  background: #ffe9c6;
}

#content3 {
  grid-area: content3;
  background: #fcf7bb;
}

#content1:hover, #content2:hover, #content3:hover {
  transform: scale(1.02);
}

#footer {
  grid-area: footer;
  text-align: center;
  background: #f8d7f2;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "main"
      "sidebar"
      "content1"
      "content2"
      "content3"
      "footer";
  }
  nav {
    flex-direction: column;
    gap: 5px;
  }
}
