<!DOCTYPE html>
<html>
    <head>
        <title>FORM</title>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <h2>Result Checker</h2>
        <form method="post" action="submit">
            <input type="text" name="rno">
            <button type="submit">SUMBIT</button>
            <p>Result: <%=result%></p>
        </form>
    </body>
</html>